<!DOCTYPE html>
<html lang="pt-BR" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout.html}">
    <head>
        <title>Cadastro</title>
    </head>
    <body>
        <!--Formulario de cadastro -->
        <section layout:fragment="content">
        
          <div th:replace="fragments/mensagens"></div>
          
          
        
            <form id="formulario" th:action="@{/usuario/salvar}" th:object="${usuario}" method="POST" style="margin-top: 15px;">
                <h4 class="text-center">Cadastro</h4>

        	 <div th:if="${#fields.hasAnyErrors()}" class="alert alert-danger">
             	<ul>
                	<li th:each="error : ${#fields.detailedErrors()}">
                    	<b th:text="${error.message}" style="color: red;"></b>
                    </li>
              	</ul>
              </div>
              
                <input type="hidden" th:field="${usuario.id}" />

                <div class="form-group">
                    <label for="name">Nome</label>
                    <input type="text" class="form-control" id="name" th:field="${usuario.nome}" placeholder="Digite seu nome" />
                </div>

                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" th:field="${usuario.email}" placeholder="Digite seu email" />
                </div>

                <div class="form-group">
                    <label for="text">Endereço</label>
                    <input type="text" class="form-control" id="address" th:field="${usuario.endereco}" placeholder="Digite seu endereço" />
                </div>

                <div class="form-group">
                    <label for="password">Senha</label>
                    <input type="password" class="form-control" id="password" th:field="${usuario.senha}" placeholder="Digite sua senha" />
                </div>
                
                <label for="sexo">Sexo</label>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="sexo" th:field="${usuario.sexo}" th:value="M" />
                        <label class="form-check-label">Masculino</label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="sexo" th:field="${usuario.sexo}" th:value="F" />
                        <label class="form-check-label">Feminino</label>
                    </div>
                
                

                <button id="btn-submit" type="submit" class="btn btn-success" th:value="Cadastrar">Cadastrar</button>
            </form>
        </section>
    </body>
</html>
