#bloco-busca-forum {
    margin: 10px auto;
    width: 100%;
    padding: 10px;
    border: 1px solid #dee2e6;
}

#busca-forum{
    width: 92%;
    display: inline;
}

#btn-busca{
    height: 40px;
    margin-top: -5px;
}

